.search-section{
    /* width: 100vw; */
    display: block;
    height: auto;
}
.dwelling-container{
  border-top: 1px solid black;
  padding: 15px 0;
}
.dwelling{
  width: 600px;
  display: flex;
  cursor: pointer;
  border-top: 1px solid black;
  padding: 15px 0;
}
.pic {
  width: 250px;
  height: 140px;
  display: block;
  /* background-image: url(/static/media/vue-appartement-evian.e0f60ab7.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  /* cursor: pointer; */
}
.text{
  width: calc(100% - 250px);
  display: flex;
}
.title-descr{
  width: 80%;
  height: 100%;
  text-align: left;
  padding-left: 10px;
}
.title{
  height: 20%;
  font-size: 20px;
  /* cursor: pointer; */
}
.descr {
  height: 80%;
  /* padding: 10px 0; */
  display: flex;
  align-items: center;
}
.mark{
  width: 20%;
  height: 100%;
  text-align: right;
  padding: 0;
  background-color: transparent;
}